<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="jinjavar"  content="{{ readList }}"/>
    <!-- <meta name="bindsJSON" content="{{ bindsJSON }}"/> -->
    <link rel="stylesheet" href="static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDKeyMapper</title>
    <base href="."/>

  </head>
  <body>
    <div class = "grid_container">
      <div class = "navbar">
        <h1 class= "title">EDKeyMapper</h1>
      </div>
      <div id = "left_bar">
          <form>
            <select id="preset">
              <option value="all">All</option>
              <option value="flightRotation">Flight Rotation</option>
              <option value="flightThrust">Flight Thrust</option>
              <option value="flightThrottle">Flight Throttle</option>
              <option value="alternateFlight">Alternate Flight</option>
              <option value="flightLandingOverrides">Flight Landing</option>
              <option value="flightMisc">Flight Misc</option>
              <option value="targeting">Targeting</option>
              <option value="weapons">Weapons</option>
              <option value="misc">Misc</option>
              <option value="modeSwitches">Mode Switches</option>
              <option value="alternateFlight">Interface Mode</option>
              <option value="headlook">Headlook</option>
              <option value="galaxyMap">Galaxy Map</option>
              <option value="driving">Driving</option>
              <option value="drivingTargeting">Driving Targeting</option>
              <option value="drivingTurret">Driving Turret</option>
              <option value="drivingThrottle">Driving Throttle</option>
              <option value="drivingMisc">Driving Misc</option>
              <option value="drivingModeSwitches">Driving Mode Switches</option>
              <option value="multiCrew">Multi-Crew</option>
              <option value="fighterOrders">Fighter Orders</option>
              <option value="cameraSuite">Camera Suite</option>
              <option value="freeCamera">Free Camera</option>
              <option value="storeCamera">Store Camera</option>
              <option value="holoMe">Holo-Me</option>
              <option value="playlist">Playlist</option>
              <option value="FSS">FSS</option>
              <option value="DSS">DSS</option>
            </select>
          <div id="controlsContainer"></div>
      </div>
      <div class = "keyboard_container">
        <div class = "kbMini">
            <div id="esc" class="kbswitch">esc</div>
            <div id="f1" class="kbswitch">f1</div>
            <div id="f2" class="kbswitch">f2</div>
            <div id="f3" class="kbswitch">f3</div>
            <div id="f4" class="kbswitch">f4</div>
            <div id="f5" class="kbswitch">f5</div>
            <div id="f6" class="kbswitch">f6</div>
            <div id="f7" class="kbswitch">f7</div>
            <div id="f8" class="kbswitch">f8</div>
            <div id="f9" class="kbswitch">f9</div>
            <div id="f10" class="kbswitch">f10</div>
            <div id="f11" class="kbswitch">f11</div>
            <div id="f12" class="kbswitch">f12</div>
            <div id="prtsc" class="kbswitch">PRTSC</div>
            <div id="scrolllock" class="kbswitch">Scroll Lock</div>
            <div id="pause" class="kbswitch">Pause</div>
            <!-- ROW 2 -->
            <div id="grave" class="kbswitch">`</div>
            <div id="one" class="kbswitch">1</div>
            <div id="two" class="kbswitch">2</div>
            <div id="three" class="kbswitch">3</div>
            <div id="four" class="kbswitch">4</div>
            <div id="five" class="kbswitch">5</div>
            <div id="six" class="kbswitch">6</div>
            <div id="seven" class="kbswitch">7</div>
            <div id="eight" class="kbswitch">8</div>
            <div id="nine" class="kbswitch">9</div>
            <div id="zero" class="kbswitch">0</div>
            <div id="minus" class="kbswitch">-</div>
            <div id="equals" class="kbswitch">=</div>
            <div id="backspace" class="kbswitch">backspace</div>
            <div id="insert" class="kbswitch">insert</div>
            <div id="home" class="kbswitch">home</div>
            <div id="pageup" class="kbswitch">page up</div>
            <div id="numlock" class="kbswitch">num lock</div>
            <div id="numpad_slash" class="kbswitch">/</div>
            <div id="numpad_multiply" class="kbswitch">*</div>
            <div id="numpad_minus" class="kbswitch">-</div>
            <!-- ROW 3 -->
            <div id="tab" class="kbswitch">tab</div>
            <div id="q" class="kbswitch">q</div>
            <div id="w" class="kbswitch">w</div>
            <div id="e" class="kbswitch">e</div>
            <div id="r" class="kbswitch">r</div>
            <div id="t" class="kbswitch">t</div>
            <div id="y" class="kbswitch">y</div>
            <div id="u" class="kbswitch">u</div>
            <div id="i" class="kbswitch">i</div>
            <div id="o" class="kbswitch">o</div>
            <div id="p" class="kbswitch">p</div>
            <div id="leftbracket" class="kbswitch">[</div>
            <div id="rightbracket" class="kbswitch">]</div>
            <div id="backslash" class="kbswitch">\</div>
            <div id="delete" class="kbswitch">del</div>
            <div id="end" class="kbswitch">end</div>
            <div id="pagedown" class="kbswitch">page down</div>
            <div id="numpad_7" class="kbswitch">7</div>
            <div id="numpad_8" class="kbswitch">8</div>
            <div id="numpad_9" class="kbswitch">9</div>
            <div id="plus" class="kbswitch">+</div>
            <!-- ROW 4 -->
            <div id="caps" class="kbswitch">caps lock</div>
            <div id="a" class="kbswitch">a</div>
            <div id="s" class="kbswitch">s</div>
            <div id="d" class="kbswitch">d</div>
            <div id="f" class="kbswitch">f</div>
            <div id="g" class="kbswitch">g</div>
            <div id="h" class="kbswitch">h</div>
            <div id="j" class="kbswitch">j</div>
            <div id="k" class="kbswitch">k</div>
            <div id="l" class="kbswitch">l</div>
            <div id="colon" class="kbswitch">;</div>
            <div id="apostrophe" class="kbswitch">''</div>
            <div id="enter" class="kbswitch">return</div>
            <div id="numpad_4" class="kbswitch">4</div>
            <div id="numpad_5" class="kbswitch">5</div>
            <div id="numpad_6" class="kbswitch">6</div>
            <!-- ROW 5 -->
            <div id="leftshift" class="kbswitch">shift</div>
            <div id="z" class="kbswitch">z</div>
            <div id="x" class="kbswitch">x</div>
            <div id="c" class="kbswitch">c</div>
            <div id="v" class="kbswitch">v</div>
            <div id="b" class="kbswitch">b</div>
            <div id="n" class="kbswitch">n</div>
            <div id="m" class="kbswitch">m</div>
            <div id="lessthan" class="kbswitch">,</div>
            <div id="greaterthan" class="kbswitch">.</div>
            <div id="slash" class="kbswitch">/</div>
            <div id="rightshift" class="kbswitch">shift</div>
            <div id="uparrow" class="kbswitch">UP</div>
            <div id="numpad_1" class="kbswitch">1</div>
            <div id="numpad_2" class="kbswitch">2</div>
            <div id="numpad_3" class="kbswitch">3</div>
            <div id="numpad_enter" class="kbswitch">enter</div>
            <!-- ROW 6 -->
            <div id="leftcontrol" class="kbswitch">ctrl</div>
            <div id="leftwin" class="kbswitch">win</div>
            <div id="leftalt" class="kbswitch">alt</div>
            <div id="space" class="kbswitch">space</div>
            <div id="rightalt" class="kbswitch">alt</div>
            <div id="rightwin" class="kbswitch">win</div>
            <div id="fn" class="kbswitch">fn</div>
            <div id="rightcontrol" class="kbswitch">ctrl</div>
            <div id="leftarrow" class="kbswitch">LEFT</div>
            <div id="downarrow" class="kbswitch">DOWN</div>
            <div id="rightarrow" class="kbswitch">RIGHT</div>
            <div id="numpad_0" class="kbswitch">0</div>
            <div id="numpad_period" class="kbswitch">.</div>
            <div id="cursorFollow">
            </div>
        </div>
      </div>
    </div>
      <script type="module">
      //Start JS functionality
      //imports controls lists by default game categories from a static file
      import { bigBoi } from "{{ url_for('static', filename='JS/ControlsList.js') }}";

      //array of the controls that are simple on/off toggles that are not a sub-option of another control
      var baseToggles = ["DeployHardpointsOnFire", "EnableCameraLockOn", "MouseHeadlook", "MouseHeadlookInvert", "HeadlookDefault", "HeadlookResetOnToggle", "HeadlookSmoothing", "DriveAssistDefault", "MouseBuggySteeringXDecay", "MouseBuggyRollingXDecay", "MouseBuggyYDecay", "MouseTurretXDecay", "MouseTurretYDecay", "MultiCrewThirdPersonMouseXDecay", "MultiCrewThirdPersonMouseYDecay", "FreeCamMouseYDecay", "FreeCamMouseXDecay", "FSSMouseXDecay", "FSSMouseYDecay", "SAAThirdPersonMouseXDecay", "SAAThirdPersonMouseYDecay"]

      window.onload=function() {
        //Adds an event listener to attach sliders to their respective text boxes
        //Flubber and Flobber are just placeholder names they are not used anywhere else
        function makeListener(item, controls){
          if (controls.includes(item)){
            document.getElementById(item).addEventListener("change", flubber => {updateTextInput(item)})
            var itemText = item + "Text"
            document.getElementById(itemText).addEventListener("input", flobber => {updateSliderPos(item)})
          }
        }
        //called by makelistener, this is what the listener does when it is activated
        //this one takes input from the slider and then sends the update to the text box
        function updateTextInput(controlName){
          var controlNameAppend = controlName + "Text"
          var controlValue = document.getElementById(controlName).value;
          document.getElementById(controlNameAppend).value = controlValue;
        }
        //opposite of updateTextInput, this fxn just takes input from text box and updates the slider
        function updateSliderPos(controlName){
          var controlNameAppend = controlName + "Text"
          var controlValue = document.getElementById(controlNameAppend).value;
          document.getElementById(controlName).value = controlValue;
        }
        //Makes the invisible div follow the cursor
      var cursorFollow = document.getElementById("cursorFollow");
        const onMouseMove = (e) =>{
          cursorFollow.style.left = e.pageX-50 + 'px';
          cursorFollow.style.top = e.pageY+10 + 'px';
          if (document.elementFromPoint(e.pageX, e.pageY) == null){
            //pass
          }
          else{
            var whatHover = document.elementFromPoint(e.pageX, e.pageY)
            if(whatHover.id == ""){
              //pass
            }
            else{
              var whatHoverId = whatHover.id
              var controlBound = document.getElementById(whatHoverId).getAttribute("control")
              document.getElementById("cursorFollow").innerHTML = controlBound;
            }
          }
        }
        document.addEventListener('mousemove', onMouseMove);

      //main fxn,runs on preset selection changing, TODO: make it load it one first page load
      function fuck(varList){
        //Resets the Highlighting When changing presets
        for(m in document.getElementsByClassName('kbswitch')){
          var fuckme = document.getElementsByClassName('kbswitch')
          fuckme.item(m).style.backgroundColor = "#321A00";
        }
        //takes python list of normal binds and parses it into JS object
        var displayedControls;
        var bindsJSON = "{{ bindsJSON }}"
        bindsJSON = bindsJSON.replaceAll(/&#34;/ig,'"');
        var jsonThingy = JSON.parse(bindsJSON)
        //Takes dict of python invert controls and parses it into JS object
        var invertToggles = "{{ invertTogglesPartTwo }}"
        var invertTogglesDos = invertToggles.replaceAll(/&#34;/ig, '"')
        var invertTogglesTres = JSON.parse(invertTogglesDos)
        //Takes python Deadzone dict and parses into JS Object
        var deadzoneSlider = "{{ deadzoneSlider }}"
        var deadzoneSliderDos = deadzoneSlider.replaceAll(/&#34;/ig, '"')
        var deadzoneSliderTres = JSON.parse(deadzoneSliderDos)
        var axisBindings = "{{ axisBindings }}"
        axisBindings = axisBindings.replaceAll(/&#34;/ig, '"')
        axisBindings = axisBindings.replaceAll(/&#39;/ig, '"')
        axisBindings = JSON.parse(axisBindings)
        var baseControls = "{{ baseControls }}"
        baseControls = baseControls.replaceAll(/&#34;/ig, '"')
        baseControls = baseControls.replaceAll(/&#39;/ig, '"')
        baseControls = JSON.parse(baseControls)

        var concat = "";
        var baseIsSlider = [];
        document.getElementById("controlsContainer").innerHTML = "";
        var preset = document.getElementById("preset").value;
        //console.log(varList)
        for (var y in varList){
          //console.log(varList[y].name)
          if (preset == varList[y].name){
            //console.log(varList[y].controls)
            displayedControls = varList[y].controls;
            //main fxn loop to sort controls into categories so that it can display the correct options associated
            for (var z in displayedControls){
              if(displayedControls[z] in jsonThingy){
                concat += "<div class='controls'>" + displayedControls[z] + "<div>" + jsonThingy[displayedControls[z]] + "</div>" + "</div>"
                var stripped = jsonThingy[displayedControls[z]].replace("Key_", "")
                //Switch: Parses 1 to one bc CSS doesn't like numbers as variable names
                switch (stripped){
                  case '1':
                    document.getElementById("one").style.backgroundColor = "#FF8C0D";
                    document.getElementById("one").setAttribute("control", displayedControls[z]);
                  break;
                  case '2':
                    document.getElementById("two").style.backgroundColor = "#FF8C0D";
                    document.getElementById("two").setAttribute("control", displayedControls[z]);
                  break;
                  case '3':
                    document.getElementById("three").style.backgroundColor = "#FF8C0D";
                    document.getElementById("three").setAttribute("control", displayedControls[z]);
                  break;
                  case '4':
                    document.getElementById("four").style.backgroundColor = "#FF8C0D";
                    document.getElementById("four").setAttribute("control", displayedControls[z]);
                  break;
                  case '5':
                    document.getElementById("five").style.backgroundColor = "#FF8C0D";
                    document.getElementById("five").setAttribute("control", displayedControls[z]);
                  break;
                  case '6':
                    document.getElementById("six").style.backgroundColor = "#FF8C0D";
                    document.getElementById("six").setAttribute("control", displayedControls[z]);
                  break;
                  case '7':
                    document.getElementById("seven").style.backgroundColor = "#FF8C0D";
                    document.getElementById("seven").setAttribute("control", displayedControls[z]);
                  break;
                  case '8':
                    document.getElementById("eight").style.backgroundColor = "#FF8C0D";
                    document.getElementById("eight").setAttribute("control", displayedControls[z]);
                  break;
                  case '9':
                    document.getElementById("nine").style.backgroundColor = "#FF8C0D";
                    document.getElementById("nine").setAttribute("control", displayedControls[z]);
                  break;
                  case '0':
                    document.getElementById("zero").style.backgroundColor = "#FF8C0D";
                    document.getElementById("zero").setAttribute("control", displayedControls[z]);
                  break;
                  default:
                    document.getElementById(stripped.toLowerCase()).style.backgroundColor = "#FF8C0D";
                    document.getElementById(stripped.toLowerCase()).setAttribute("control", displayedControls[z]);
                }
              }
              else if (displayedControls[z] in invertTogglesTres && displayedControls[z] in deadzoneSliderTres){
                if (invertTogglesTres[displayedControls[z]] == 1){
                  concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"checkbox\" id=" + displayedControls[z] + "chckBx\"> <label for=\"" + displayedControls[z] + "\">Invert</label><input type=\"range\" id=\"" + displayedControls[z] + "\" min=\"0\" max=\"1\" step=\".001\" /><input tpye=\"number\" class=\"deadZoneSliderTextBox\" id=\"" + displayedControls[z] + "Text\" value=\"" + deadzoneSliderTres[displayedControls[z]] + "\"/></div></div>"
                }
                else{
                  concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"checkbox\" id=" + displayedControls[z] + "chckBx\"> <label for=\"" + displayedControls[z] + "\">Invert</label><input type=\"range\" id=\"" + displayedControls[z] + "\" min=\"0\" max=\"1\" step=\".001\" /><input tpye=\"number\" class=\"deadZoneSliderTextBox\" id=\"" + displayedControls[z] + "Text\" value=\"" + deadzoneSliderTres[displayedControls[z]] + "\"/></div></div>"
                }

              }
              //Sees if control has an invert switch and deals with it accordingly
              else if (displayedControls[z] in invertTogglesTres && !(displayedControls[z] in deadzoneSliderTres)){
                if (invertTogglesTres[displayedControls[z]] == 1){
                  concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"checkbox\" id=" + displayedControls[z] + "> <label for=\"" + displayedControls[z] + "\">Invert</label></div></div>"
                  //document.getElementById(displayedControls[z]).checked = true;
                }
                else{
                  concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"checkbox\" id=" + displayedControls[z] + "> <label for=\"" + displayedControls[z] + "\"></label>Invert</div> </div>"
                }
              }
              else if (displayedControls[z] in deadzoneSliderTres && !(displayedControls[z] in invertTogglesTres)){
                concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"range\" id=" + displayedControls[z] + " min=\"0\" max=\"1\" step=\".001\" value=" + deadzoneSliderTres[z] + "><input tpye=\"number\" class=\"deadZoneSliderTextBox\" id=\"" + displayedControls[z] + "Text\"/></div></div>"
              }
              else if (displayedControls[z] in baseControls){
                //long ass way to deal with misc. controls with non-standard options
                if (displayedControls[z] == "YawToRollMode"){
                  switch(baseControls[displayedControls[z]]){
                    case "Bindings_YawIntoRollNone":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone' selected>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime'>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll'>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    case "Bindings_YawIntoRollTime":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone'>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime' selected>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll'>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    case "Bindings_YawIntoRollLowRoll":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone'>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime'>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll' selected>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    default:
                      console.log("something fucky this way comes")
                  }
                }
                else if (displayedControls[z] == "YawToRollMode_FAOff"){
                  switch (baseControls[displayedControls[z]]) {
                    case "":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='normal' selected>Normal Behavior</option><option value='Bindings_YawIntoRollNone'>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime'>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll'>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    case "Bindings_YawIntoRollNone":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone' selected>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime'>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll'>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    case "Bindings_YawIntoRollTime":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone'>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime' selected>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll'>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    case "Bindings_YawIntoRollLowRoll":
                      concat += "<div class='controls'>" + displayedControls[z] + "<select id='" + displayedControls[z] + "Dropdown'><option value='Bindings_YawIntoRollNone'>Bindings_YawIntoRollNone</option><option value='Bindings_YawIntoRollTime'>Bindings_YawIntoRollTime</option><option value='Bindings_YawIntoRollLowRoll' selected>Bindings_YawIntoRollLowRoll</option></select></div>"
                    break;
                    default:

                  }
                }
                else if (baseToggles.includes(displayedControls[z])){
                  concat += "<div class='controls'>" + displayedControls[z] + "<div>" + "<input id=\"" + displayedControls[z] + "Check\"type=\"checkbox\" /> </div>" + "</div>"
                }
                else{
                  if (isNaN(parseFloat(baseControls[displayedControls[z]]))){
                    concat += "<div class='controls'>" + displayedControls[z] + "<div>" + baseControls[displayedControls[z]] + "</div>" + "</div>"
                  }
                  else{
                    concat += "<div class='controls'>" + displayedControls[z] + "<div> <input type=\"range\" id=\"" + displayedControls[z] + "\" min=\"0\" max=\"1\" step=\".001\" value=" + baseControls[displayedControls[z]] + "><input tpye=\"number\" class=\"deadZoneSliderTextBox\" id=\"" + displayedControls[z] + "Text\" value=\"" + baseControls[displayedControls[z]] + "\" /></div></div>"
                    baseIsSlider.push(displayedControls[z])
                  }
                }
              }
              else{
                concat += "<div class='controls'>" + displayedControls[z] + "</div>";
              }
            }
          }
        }
      //actual call that displays all of the control divs after fxn loop adds them to an object
      document.getElementById("controlsContainer").innerHTML = concat;

      //two .map() fxns just run the makeListener for all appropriate controls
      var keys = Object.keys(deadzoneSliderTres)
    //  keys.map(makeListener(displayedControls))
      .map((keys) => makeListener(keys, displayedControls))
      var baseKeys = baseIsSlider
//do not delete this comment, shit will break, idk, ive spent to much time already
      .map((baseKeys) => makeListener(baseKeys, displayedControls))

        //checks to see if the invert is toggled on the controls file and shows accordingly
        for (l in invertTogglesTres){
          if (l in displayedControls){
            if (invertTogglesTres[l] == 1){
              document.getElementById(l).checked = true;
            }
          }
        }
        //sets default state of the slider when loaded
        for (m in deadzoneSliderTres){
          if (displayedControls.includes(m)){
            document.getElementById(m).value = deadzoneSliderTres[m];
          }
        }
        for (m in baseIsSlider){
          var a = m + "Text"
          if (displayedControls.includes(m)){
            document.getElementById(m).value = baseIsSlider[m];
            document.getElementById(a).value = baseIsSlider[m];
          }
        }
        for (l in baseToggles){
          for (l in displayedControls){
            if (baseToggles[l] == 1){
              var box = l + "Check"
              document.getElementById(box).checked = true;
            }
          }
        }
      }

      document.getElementById("preset").addEventListener("change", function(){fuck(bigBoi)})

}

      </script>
  </body>
</html>
