<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDKeyMapper</title>
  </head>
  <body>
    <div class = "grid_container">
      <div class = "navbar">
        <h1 class= "title">EDKeyMapper</h1>
      </div>
      <div id = "left_bar">
      </div>
      <div class = "keyboard_container">
        <div id="buttonSmoosher">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="file" name="keymapFile" id="fileSelectButton"/>
              <label id="savior" for="fileSelectButton">Choose Binds File</label>
              <br/>
              <input type="submit" value="Get Started" id="uploadButton"/>
            </form>
          </div>
      </div>
      <script>
      var label	 =     document.getElementById("fileSelectButton").nextElementSibling,
      labelVal = label.innerHTML;
      document.getElementById('fileSelectButton').addEventListener('change', function( e ){
        var fileName = '';
        console.log('squeak')
        fileName = e.target.value.split( '\\' ).pop();
        label.innerHTML = fileName;
      });
      </script>
  </body>
</html>
